
  body {
    background: black;
    position: fixed;
    color:white;
  }
  canvas {
    border: 1px solid white;
    position: relative;
    bottom:400px;
    left:400px;
  }
  #texto2{
    left: 900px;
    position: relative;
  }
  #name
  {
    position: relative;
    left: 1200px;
  }
  #velocidade{
    margin-top:120px;
    font-size:20px;
  }
  
  #borda{
    margin-top:20px;
    font-size:20px;
  }
  #borda0
  {
    position:relative; 
    top:30px;
    left:10px;
  }
  #borda1
  {
    position:relative; 
    top:30px;
    left:20px;
  }
  #texto1{
    position:relative;
    font-size:12px;
    bottom:60px;
  }
  #devagar
  {
    position:relative; 
    left:10px;
  }
  #media
  {
    position:relative; 
    left:20px;
  }
  #rapida
  {
    position:relative; 
    left:30px;
  }
  #pontuacao
  {
    position:relative;
    font-size:20px;
    left:500px;
  }
  #score
  {
    position:relative;
    font-size:20px;
    left:550px;
  }
  #botao1
 {
    position:relative;
    left:1200px;
 }
table{
  position:relative;
  left:1200px;
  bottom:900px;
}
#nome_user
{
  left:1200px;
  position: relative;
}